@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Work+Sans&display=swap");
:root {
  --colour-accent: #043565;
  --colour-fg: #342627;
  --colour-fg-dim: rgba(52, 38, 39, 0.8);
  --colour-bg: #f5f3eb;
  --colour-bg-dim: #e1ded7;
  --colour-error: #c81d25;
  --colour-success: #34876f;
  --font-body: "Work Sans", sans-serif;
  --font-header: "Eagle Lake", cursive;
  --border-radius: 4px;
  --space-wide: 0.8em;
  --space-narrow: 0.4em;
  --shadow-base: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --shadow-emphasis: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

h1 {
  font-size: 2.5em;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 105%;
  }
  :root {
    --space-wide: 2em;
    --space-narrow: 1em;
  }
  h1 {
    font-size: 4em;
  }
}

body {
  max-width: min(1000px, 100%);
  margin: auto;
  font-family: var(--font-body);
  color: var(--colour-fg);
  background-color: var(--colour-bg);
  line-height: 1.5em;
  min-height: 100vh;
  padding: 0 var(--space-wide) var(--space-wide) var(--space-wide);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: var(--font-header);
}

a {
  color: var(--colour-accent);
}

a:hover,
a:focus {
  text-decoration-line: underline;
  text-decoration-style: double;
}

header {
  padding-top: var(--space-wide);
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-items: center;
  align-items: center;
}

img {
  max-width: min(100%, 150px);
  max-height: min(30vw, 100px);
}

section {
  box-shadow: var(--shadow-base);
  margin: var(--space-narrow) 0;
  padding: var(--space-narrow) var(--space-narrow) 0 var(--space-narrow);
  border-radius: var(--border-radius);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

article {
  background-color: var(--colour-bg-dim);
  padding: var(--space-wide) var(--space-narrow);
  margin: var(--space-wide) 0;
  border-radius: var(--border-radius);
}

.dim {
  font-size: smaller;
  color: var(--colour-fg-dim);
}

.gh-words {
  display: flex;
  align-items: center;
  font-size: smaller;
  padding-bottom: 1em;
}

.gh-words > img {
  padding: 0 var(--space-narrow);
  height: 32px;
  width: 32px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* https://una.im/hacking-visited/ */
a h3 span::after {
  content: "(unread!)";
  vertical-align: middle;
  display: inline-block;
  color: var(--colour-fg-dim);
  font-size: smaller;
  margin-left: 0.5em;
}

a:visited h3 span::after {
  content: "";
  color: var(--colour-bg-dim);
}

/* https://tholman.com/github-corners/ */

.github-corner {
  fill: var(--colour-fg);
  color: var(--colour-bg);
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  transition: 560ms ease-in-out;
}

.github-corner:hover,
.github-corner:focus {
  fill: var(--colour-accent);
  transition: 560ms ease-in-out;
}

.github-corner:hover .octo-arm,
.github-corner:focus .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* KOFI button styling */
/* Vendored from https://storage.ko-fi.com/cdn/widget/Widget_2.js */

img.kofiimg {
  display: initial;
  vertical-align: middle;
  height: 13px;
  width: 20px;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  margin-top: 0;
  margin-right: 5px;
  margin-left: 0;
  margin-bottom: 3px;
  content: url("https://storage.ko-fi.com/cdn/cup-border.png");
}
.kofiimg:after {
  vertical-align: middle;
  height: 25px;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  margin-top: 0;
  margin-right: 6px;
  margin-left: 0;
  margin-bottom: 4px;
  content: url("https://storage.ko-fi.com/cdn/whitelogo.svg");
}
.btn-container {
  display: inline-block;
  white-space: nowrap;
  min-width: 160px;
}
span.kofitext {
  color: var(--colour-bg);
  letter-spacing: -0.15px;
  vertical-align: middle;
  line-height: 33px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(34, 34, 34, 0.05);
}
.kofitext a {
  color: var(--colour-bg);
  text-decoration: none;
}
.kofitext a:hover {
  color: var(--colour-bg);
  text-decoration: none;
}
a.kofi-button {
  box-shadow: var(--shadow-base);
  line-height: 36px;
  min-width: 150px;
  display: inline-block;
  padding: 2px 12px;
  text-align: center;
  border-radius: 7px;
  color: var(--colour-bg);
  cursor: pointer;
  overflow-wrap: break-word;
  vertical-align: middle;
  border: 0 none var(--colour-bg);
  text-decoration: none;
  text-shadow: none;
  font-weight: 700;
  font-size: 14px;
}

a.kofi-button:hover {
  opacity: 0.85;
}

.kofitext img.kofiimg {
  height: 15px;
  width: 22px;
  display: initial;
  animation: kofi-wiggle 3s infinite;
}
@keyframes kofi-wiggle {
  0% {
    transform: rotate(0) scale(1);
  }
  60% {
    transform: rotate(0) scale(1);
  }
  75% {
    transform: rotate(0) scale(1.12);
  }
  80% {
    transform: rotate(0) scale(1.1);
  }
  84% {
    transform: rotate(-10deg) scale(1.1);
  }
  88% {
    transform: rotate(10deg) scale(1.1);
  }
  92% {
    transform: rotate(-10deg) scale(1.1);
  }
  96% {
    transform: rotate(10deg) scale(1.1);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
